#navigation {
  /* background-color: transparent; */
  background-color: #f1f3ff;
}

#navigation .container-fluid {
  margin-left: 10%;
  margin-right: 10%;
}

#navigation .container-fluid .navbar-collapse .navbar-nav li {
  margin-right: 20px;
}

#navigation .container-fluid .navbar-collapse .navbar-nav li a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

#navigation .container-fluid .navbar-collapse .navbar-nav li .btn-success {
  color: white;
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
}

#hero {
  height: 100%;
  background-color: #f1f3ff;
  padding-top: 10%;
}

#hero .tagline {
  margin-top: 4%;
}

#hero .tagline h2 {
  margin-left: 100px;
  width: 568px;
  color: #000000;
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
  line-height: 150%;
}

#hero .tagline p {
  margin-left: 100px;
  width: 468px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

#hero .tagline button {
  margin-left: 100px;
  color: white;
  background-color: #5cb85f;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 12px;
}

#hero .image-tagline img {
  margin-top: -3%;
}

#our_services {
  margin-top: 5%;
}

#our_services .row .sentense h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

#our_services .row .sentense p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#our_services .row .sentense .d-flex span {
  padding-right: 10px;
}

#our_services .row .sentense .d-flex span svg {
  background-color: #cfd4ed;
  border-radius: 100%;
}

#our_services .row .sentense .d-flex p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#why_us {
  margin-top: 5%;
}

#why_us h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

#why_us p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

#why_us .row {
  margin-top: 5%;
}

#why_us .row .col-lg-3 .card .card-body h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

#why_us .row .col-lg-3 .card .card-body p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

#why_us .row .col-lg-3 .card .card-body .first svg {
  width: 24px;
  height: 24px;
  background-color: #f9cc00 !important;
  border-radius: 100%;
  padding: 3px;
}

#why_us .row .col-lg-3 .card .card-body .second svg {
  width: 24px;
  height: 24px;
  background-color: #fa2c5a !important;
  border-radius: 100%;
  padding: 3px;
}

#why_us .row .col-lg-3 .card .card-body .third svg {
  width: 24px;
  height: 24px;
  background-color: #0d28a6 !important;
  border-radius: 100%;
  padding: 3px;
}

#why_us .row .col-lg-3 .card .card-body .fourth svg {
  width: 24px;
  height: 24px;
  background-color: #5cb85f !important;
  border-radius: 100%;
  padding: 3px;
}

.gambar {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

/* #testimonial .carousel {
    overflow: hidden;
}

#testimonial .carousel .carousel-inner {
    width: 150%;
    left: -24%;
} */

/* #testimonial .carousel .carousel-inner .carousel-item .card:first-child,
#testimonial .carousel .carousel-inner .card:last-child {
    display: none;
}

#testimonial .carousel .carousel-inner {
    width: 150%;
    left: -14.5%;
} */

/* #testimonial .carousel .carousel-inner .carousel-item-next:not(.carousel-item-start),
#testimonial .carousel .carousel-inner .carousel-item-end.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}

#testimonial .carousel .carousel-inner .carousel-item-prev:not(.carousel-item-end),
#testimonial .carousel .carousel-inner .carousel-item-start.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
} */

/* #testimonial .carousel .carousel-inner .carousel-item .card {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    float: left;
    position: relative;
    /* captions can now be added */
/* margin: 10px;
    width: calc(33.33333333% - 20px);
    background-color: #F1F3FF;
    border-radius: 10px;
    border: none;
} */
*/
/* #testimonial .carousel .btn-carousel {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
} */

/* #testimonial .carousel .btn-carousel .carousel-control {
    background: #5cb75f;
    width: 30px;
    height: 30px;
    border: 10px;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
} */

/* #testimonial .carousel .carousel button {
    border-radius: 100%;
    margin: 5px 15px;
}

#testimonial .carousel .tombol-crsl {
    width: 15px;
    height: 15px;
} */

#idTestimo {
  padding-top: 8%;
}

.img-prof {
  text-align: center;
}

.btn-carousel {
  display: flex;
  justify-content: center;
}

.carousel-control {
  background: #5cb85f;
  width: 30px;
  height: 30px;
  border: 10px;
  border-radius: 100px;
  display: flex;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.carousel button {
  border-radius: 100%;
  margin: 5px 15px;
}

.tombol-crsl {
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 425px) {
  #idTestimo {
    padding-top: 20%;
  }

  .card {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .test .col-lg-10 {
    padding-left: 4% !important;
    padding-right: 4% !important;
    text-align: center;
  }

  .test .row {
    flex-direction: column !important;
  }

  .test .carousel-item .hilangkan {
    display: none;
  }
}

#advertisement {
  margin-top: 4%;
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
}

#advertisement .card {
  height: 326px;
  background-color: #0d28a6;
  border: none;
  border-radius: 10px;
}

#advertisement .card .card-body .text-center h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

#advertisement .card .card-body .text-center p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

#advertisement .card .card-body .text-center button {
  margin-top: 6%;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

#frequently-asked {
  margin-top: 5%;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

#frequently-asked .row .col-lg-4 h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

#frequently-asked .row .col-lg-4 p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

#frequently-asked .row .col-lg-8 .accordion .accordion-item {
  background-color: white !important;
}

#footer {
  margin-top: 8%;
  margin-bottom: 5%;
  width: 100%;
  padding-right: 150px;
  padding-left: 150px;
}

#footer #address p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

#footer #navigation-footer ul a {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: black;
}

#footer #navigation-footer ul a:hover {
  text-decoration: none;
}

#footer #connect-with-us p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

#footer #connect-with-us svg {
  background-color: #0d28a6;
  border-radius: 100%;
  padding: 5px;
  color: white;
  margin-right: 8px;
}

#footer #copyright p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
#jumlahpenumpang {
  background: url(../images/img/fi_users.png) no-repeat scroll 95% 7px;
  padding-right: 20%;
}
/* section4 css */
#section4 {
  height: 560px;
}
#section4 .container-fluid {
  padding-top: 100px;
}
#section4 h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
#section4 p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.bi-chevron-left::before,
.bi-chevron-right::before {
  vertical-align: inherit;
  padding: 8px;
  border-radius: 32px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  border-radius: 32px;
  border: solid 1px #c4c4c4;
  margin-right: 24px;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #5cb85f;
  margin-right: 26px;
  border: none;
}
#section4 .item {
  width: 619px;
  height: 270px;
  background: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  display: flex;
}
#section4 .img {
  width: 80px;
  height: 80px;
  margin: 95px 46px;
}
#section4 .testimoni {
  margin: 69px 32px 69px 0px;
}
#section4 .checked {
  color: #f9cc00;
}
#section4 .quote {
  width: 415px;
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 8px 0px;
}
#section4 .name {
  width: 415px;
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 8px 0px;
}
/* /section4 css */
.text-muted {
  --bs-text-opacity: 1;
  color: #6c757d !important;
  font-size: 12px;
}
